In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("../../data/ML_final_project/object.csv")

In [3]:
data.head()

,course_id,module_id,category,children,start
0,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,L1s4VseGlRT302GZlJNStvtJZnvnr3IJ,about,NaN,null
1,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,HxVne4dRqhXXf9FEsuUxVBG2THLkXgGV,about,NaN,null
2,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,3fpwAdewUyNZkLToSwy7eWQmmglHzA0G,chapter,wq9HGmGdGoXFRgp4KQzo7WD8RSwwckZL X2rMpSy9lvzEe...,2014-08-11T01:00:00
3,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,qEdbIFRbbfpjN4tkWOq8kMsxES84yPfy,chapter,nQZ5JRSJDlJ0XmlkYykP7iWt748Hp5uQ ehLxBxQUzqxrI...,2014-07-28T01:00:00
4,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,q9vSHnqnL8T6MSYy1QZ1d1v8gb7HqKIc,chapter,aifkOeC4slG9VREeJqwyVeLriGIqAUjY 8u4PaPNvjqjSf...,2014-08-25T01:00:00

In [4]:
category=list(data["category"].value_counts().index.values)
print(category)

['vertical', 'problem', 'video', 'sequential', 'discussion', 'html', 'chapter', 'about', 'outlink', 'course_info', 'static_tab', 'course', 'combinedopenended', 'peergrading', 'dictation']

In [5]:
index=list(data["course_id"].value_counts().index.values)
s1=pd.Series(index,name="course_id")
s2=pd.Series(data["course_id"].value_counts().tolist(),name="total_object_num")
data2=pd.concat([s1,s2],axis=1)

In [6]:
total_module_num=[]
for i in range(len(index)):
    total_module_num.append( len(data[ data["course_id"].isin([index[i]]) ]["module_id"].value_counts()) )
data2["total_module_num"]=total_module_num

In [7]:
data2.head()

                          course_id  total_object_num  total_module_num
0  shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI              2113              2109
1  9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz              1983              1823
2  Wm3dddHSynJ76EJV6hyLYKGGRL0JF3YK              1356              1339
3  HbeAZjZFFQUe90oTP0RRO0PEtRAqU3kK              1312              1284
4  nSfGxfEtzw5G72fVbfaowxsV46Pg1xIc              1151              1151

In [8]:
vertical, problem, video, sequential, discussion, html, chapter, about, outlink, course_info, static_tab, course, combinedopenended, peergrading, dictation= ([] for i in range(15))
for i in range(len(index)):
    vertical.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[0]]) ]) )
    problem.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[1]]) ]) )
    video.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[2]]) ]) )
    sequential.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[3]]) ]) )
    discussion.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[4]]) ]) )
    html.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[5]]) ]) )
    chapter.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[6]]) ]) )
    about.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[7]]) ]) )
    outlink.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[8]]) ]) )
    course_info.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[9]]) ]) )
    static_tab.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[10]]) ]) )
    course.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[11]]) ]) )
    combinedopenended.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[12]]) ]) )
    peergrading.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[13]]) ]) )
    dictation.append( len(data[ data["course_id"].isin([index[i]]) & data["category"].isin([category[14]]) ]) )
data2["vertical_num"]=vertical
data2["problem_num"]=problem
data2["video_num"]=video
data2["sequential_num"]=sequential
data2["discussion_num"]=discussion
data2["html_num"]=html
data2["chapter_num"]=chapter
data2["about_num"]=about
data2["outlink_num"]=outlink
data2["course_info_num"]=course_info
data2["static_tab_num"]=static_tab
data2["course_num"]=course
data2["combinedopenended_num"]=combinedopenended
data2["peergrading_num"]=peergrading
data2["dictation_num"]=dictation

In [9]:
data2.head()

,course_id,total_object_num,total_module_num,vertical_num,problem_num,video_num,sequential_num,discussion_num,html_num,chapter_num,about_num,outlink_num,course_info_num,static_tab_num,course_num,combinedopenended_num,peergrading_num,dictation_num
0,shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI,2113,2109,719,500,256,130,473,2,19,4,4,2,3,1,0,0,0
1,9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz,1983,1823,969,291,502,124,58,13,14,4,2,2,3,1,0,0,0
2,Wm3dddHSynJ76EJV6hyLYKGGRL0JF3YK,1356,1339,482,465,273,109,0,2,15,3,1,2,3,1,0,0,0
3,HbeAZjZFFQUe90oTP0RRO0PEtRAqU3kK,1312,1284,436,468,260,110,0,12,15,3,2,2,3,1,0,0,0
4,nSfGxfEtzw5G72fVbfaowxsV46Pg1xIc,1151,1151,349,306,150,60,260,1,15,3,2,2,2,1,0,0,0

In [10]:
data2.to_csv("../../data/course_lookup.csv",index=False)